//- link button
mixin a-btn(url, style)
	- var type = (typeof style === 'undefined') ? 'default' : style
	a.btn(class='btn-' + type, href=url, role='button')&attributes(attributes)
		block

//- button
mixin btn(caption, style, size)
	- var type = (typeof style === 'undefined') ? 'default' : style
	unless size
		button.btn(class='btn-' + type, type='button')= caption
	else
		button.btn(class='btn-' + type +' btn-' + size, type='button')= caption
		
//- input button
mixin input-btn(caption, style)
	- var type = (typeof style === 'undefined') ? 'default' : style
	input.btn(class='btn-' + type, type='button', value=caption)

	
//- submit button
mixin submit(caption, style)
	- var type = (typeof style === 'undefined') ? 'default' : style
	input.btn(class='btn-' + type, type='submit', value=caption)
