mixin img-responsive(src, alt)
	img.img-responsive(src=src, alt=alt)
	
mixin img-responsive-center(src, alt)
	img.img-responsive.center-block(src=src, alt=alt)

mixin img-rounded(src, alt)
	img.img-rounded(src=src, alt=alt)
	
mixin img-circle(src, alt)
	img.img-circle(src=src, alt=alt)
	
mixin img-thumbnail(src, alt)
	img.img-thumbnail(src=src, alt=alt)